[submodule "R"]
	path = R/full_implementations
	url = https://github.com/faridcher/MachineLearningMOOC.git
[submodule "MATLAB"]
	path = MATLAB
	url = https://github.com/vugsus/coursera-machine-learning.git
[submodule "supervised_and_unsupervised_implem"]
	path = MATLAB/supervised_and_unsupervised_implem
	url = https://github.com/quinnliu/machineLearning.git
[submodule "MATLAB/full_implementations"]
	path = MATLAB/full_implementations
	url = https://github.com/vugsus/coursera-machine-learning.git
[submodule "CommonLisp"]
	path = Lisp/partial_common_lisp_implementations
	url = https://github.com/mabragor/little-ml.git
[submodule "Python"]
	path = Python/full_jupyter_implementations
	url = https://github.com/kaleko/CourseraML.git
[submodule "C++"]
	path = C++/partial_implementations
	url = https://github.com/tbl3rd/ang-ml.git
